body{
  background-position: 0px -50px;
  background-image: url('../images/DTGainesville1024x685.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.img-circle-size{
  width: 300px;
}
.project-img{
  height: 150px;
}
.navpad{
  margin-bottom: 50px;
}
.projects-margin{
  margin-top: 100px;
}
.resume-margin{
  margin-top: 20px;
}
.well-styles{
  background-color: rgba(217, 217, 217, 0.85);
  color: black;
  display: block;
}
.vcenter {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.row-margin-top{
  margin-top: 50px;
}
.c-row-margin-top{
  margin-top: 25px;
}
