<div class="container">
  <div class="form-group" ng-controller="MailController" ng-hide="sentMail">
    <div class="row">
      <h2>Feel free to contact me about freelancing and employment opportunities using the form below.</h2>
    </div>
    <div class="row">
      <input type="text" class='form-control' placeholder="Your Name" ng-model="msg.name">
    </div>
    <div class="row">
      <input type="text" class="form-control" placeholder="YourValid@email.com" ng-model="msg.email">
    </div>
    <div class="row">
      <textarea class="form-control" rows="8" placeholder="Your Message" ng-model="msg.text"></textarea>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <button class="btn btn-success btn-block" ng-click="sendMail(msg); sentMail = true">Reach out to Devin!</button>
    </div>
  </div>
  <div ng-show='sentMail' ng-hide='!sentMail'>
    <h1>Thank you for contacting me! I will be getting back to you within a couple of days!</h1>
  </div>
</div>
