<div class="container">
  <div class="row">
    <div class="col-md-4 vcenter">
      <img class='img-responsive img-circle img-circle-size center-block' src="../images/conferencephoto2.jpg" alt="Devin Flickinger">
    </div>
    <div class="col-md-4 vcenter">
      <div class="jumbotron well-styles">
        <h4>Hi! I'm Devin Flickinger and welcome to my personal webpage. <br><br> I have a diverse professional background and recently I decided to expand my unique skill set by branching out into full stack web development. <br><br> So please take a look around my page and feel free to contact me about any employment opportunities.</h4>
      </div>
    </div>
    <div class="col-md-4 vcenter">
      <img class='img-responsive img-circle img-circle-size center-block' src="../images/greenhatpurpshirt.jpg" alt="Devin Flickinger">
    </div>
  </div>
</div>
