<div class="container projects-margin">
  <div class="row row-margin-top">
    <div class="col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
      <a href="https://github.com/DevinFlick">
        <img class="img-rounded center-block project-img" src="../images/Octocat.png" alt="Devin's GitHub">
      </a>
    </div>
    <div class="col-md-4 col-lg-4">
      <a href="https://here-quiz-me.herokuapp.com/#/">
        <img class="img-rounded center-block project-img" src="../images/quizme.png" alt="Quiz Me Web App">
      </a>
    </div>
  </div>
  <div class="row row-margin-top">
    <div class="col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
      <a href="https://ngweatherservice.herokuapp.com/">
        <img class="img-rounded center-block project-img" src="../images/weatherme.png" alt="Weather Service Web App">
      </a>
    </div>
    <div class="col-md-4 col-lg-4">
      <a href="https://productivitytimer.herokuapp.com/">
        <img class="img-rounded center-block project-img" src="../images/timeme.png" alt="Productivity Timer Web App">
      </a>
    </div>
  </div>
</div>
