<div class="container projects-margin">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <a href="../images/FlickingerResumepdf.pdf" download>
          <button class="btn btn-danger btn-block">Download PDF</button>
        </a>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <a href="../images/FlickingerResumedoc.docx" download>
          <button class="btn btn-primary btn-block">Download DocX</button>
        </a>
      </div>
    </div>
    <div class="row resume-margin">
      <embed class="center-block" src="../images/FlickingerResumepdf.pdf" width="1000px" height="500px" />
    </div>
  </div>
</div>
